{% extends 'base.html.twig' %}

{% block title %}Page d'acceuil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue dans notre page d'acceuil</h1>
    <img src="fruits-legumes.jpg" style="width: 100%">
    <h2>A propos de notre association FiFruitEtLegume:</h2>
    <p>FiFruitEtLegume met en relation les comsommateur et les jardiniers (amateurs ou professionnels) pour qu'ils puissent se rencontrer afin de mettre en oeuvre l'achat et la vente de produits agricoles.</p>
    <p>En plus elle permet aux agriculteurs et aux producteurs de faire connaitre leurs produits régionaux autour d’eux. Cela permet ainsi de promouvoir les aliments de saison et de vous faire économiser sur les frais engendrés par le transport et les intermédiaires de l’alimentation.</p>

    <h2>Fonctionnalités de notre site:</h2>
    <p>Pour aider les acheteur à trouver des produits bio, frais, qualités facilement, notre équipe a construit des fonctionnalités que vous pouvez interager sur notre plateforme</p>
    <ul>
        <li>localiser des producteurs près de chez vous</li>
        <li>localiser des producteurs près de vos trajets réguliers </li>
        <li>Discuster avec un producteur</li>
    </ul>
</div>
{% endblock %}
