.example-wrapper {
    margin: 1em auto;
    font: 18px/1.5 sans-serif;
}
.example-wrapper code {
    background: #F5F5F5; padding: 2px 6px;
}

.card #produit{
    width: 15em;
    margin: 15px;
}

.card-body #produit a {
    width: 100%;
}

.imageProduit {
    background-size: cover;
    width: 100%;
    height: 15em;
}

.imageProduit img {
    display: none;
}

.imageProfil {
    background-size: cover;
    width: 150px;
    height: 150px;
}

.imageProfil img{
    display: none;
}

.bienvenue{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.bienvenue .text{
    width: 50%;
}

a{
    color: darkgrey;
}
a:hover{
    color: limegreen;
}

#localisation{
    font-size: 15px;
    text-decoration: underline;
}
#localisation-icon{
    width: 30px;
    height: 30px;
    margin-right: -10px;
}

.btn-link{
    color: black;
}

.btn-link:hover{
    color: limegreen;
    text-decoration: none;
}

.btn-link[aria-expanded="true"]{
    color: limegreen;
    text-decoration: none;
}

.typeProduit{display: flex; flex-wrap: wrap;}
.typeProduit .titre {width: 100%; text-align: center; margin-top: 25px;}

.accordion{
    margin-top: 10px;
}