{% extends 'base.html.twig' %}
{% block title %}{{ name }}{% endblock %}
{% block body %}
    <style>

    </style>
    <div>
        <form action="/Consommateur.php" method="post">
            <div>
                <label for="nom">Nom :</label>
                <input type="text" id="nom" name="user_nom">
            </div>
            <div>
                <label for="prenom">Prenom :</label>
                <input type="text" id="prenom" name="user_prenom">
            </div>
            <div>
                <label for="adresse">Adresse :</label>
                <input type="text" id="adresse" name="user_adresse">
            </div>
            <div>
                <label for="telephone">Telephone :</label>
                <input type="text" id="telephone" name="user_telephone">
            </div>
            <div>
                <label for="photo">Photo :</label>
                <input type="text" id="photo" name="user_photo">
            </div>
            <!-- Bouton -->
        </form>
    </div>
{% endblock %}