<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" href="{{ asset('Logo') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body >
    <nav class="navbar navbar-expand-md navbar-light fixed-top " style="background-color: #44a044">
        <a class="navbar-brand" href="/">
            <img src="{{ asset('Logo') }}" width="50" height="50" class="d-inline-block align-top" alt="">
            <!-- -->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">FiFruitEtLegume <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/producteur">Producteur</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Produit</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="/produit">Tout les produits</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Fruit</a>
                        <a class="dropdown-item" href="#">Legume</a>
                        <a class="dropdown-item" href="#">Viande</a>
                        <a class="dropdown-item" href="#">Poisson</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Recherche" aria-label="Recherche">
                <button class="btn btn-outline-secondary my-2 my-sm-0" active type="submit" >Recherche</button>
            </form>
        </div>
    </nav>

    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron" style="background-color: #e9e9e9">
            <div class="container" >
                {% block body %}{% endblock %}
            </div>
        </div>

        {% block javascripts %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </main>
    <footer class="page-footer" style="background-color: #44a044; display: flex;justify-content: space-between;">
        <p style="margin-top: auto; margin-bottom: auto; margin-left: 10px">© 2020-2021 Projet MPA-PWS </p>
        <img src="{{ asset('Logo') }}" width="50" height="50" class="d-inline-block align-top" alt="" style="position: absolute; left: 50%;">
        <ul style="margin-top: auto; margin-bottom: auto; list-style: none; ">
            <li style="margin-top: auto; margin-bottom: auto;">Contact : +330 00 00 00 01</li>
            <li style="margin-top: auto; margin-bottom: auto;">Adresse : 60, Cours Marechal-Joffre 76200 DIEPPE</li>
        </ul>
    </footer>    </body>
</html>
